---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Bio from '../../components/Bio.astro';
import getPostData from '../../utils/getPostData';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('blog-posts');
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
const { title, description, publishDate } = post.data;
const { slug, readingTime } = getPostData(post);
const permalink = `${Astro.site.href}blog/${slug}`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="blog">
  <header>
    <p>{publishDate} ~ {readingTime}</p>
    <h1>{title}</h1>
    <hr />
  </header>
  <div class="container">
    <article class="content">
      <Content />
    </article>
    <hr />
    <Bio />
  </div>
</BaseLayout>

<style>
  header {
    text-align: center;
  }

  header h1 {
    margin-bottom: 0.7em;
    color:#2c5131;;
    font-size: 6rem;
  }

  header p {
    color: var(--text-secondary);
    text-transform: uppercase;
    font-family: var(--font-family-sans);
    font-weight: 100;
    color:#2c5131;;

  }

  header hr {
    min-width: 100px;
    width: 30%;
  }

  .content {
    width: 100%;
    margin: 0 auto;
    font-size: 2.25rem;
    line-height: 1.8;
  }

  :global(.content h2) {
    font-size: 3.5rem;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }

  :global(.content h3) {
    font-size: 2.75rem;
    margin-top: 1.25em;
    margin-bottom: 0.5em;
  }

  :global(.content p) {
    font-size: 2.25rem;
    margin-bottom: 1.5em;
  }

  :global(.content li) {
    font-size: 2.25rem;
  }

  :global(.content a) {
    font-size: 2.25rem;
  }

  :global(.content blockquote) {
    font-size: 2.25rem;
  }

  :global(.content code) {
    font-size: 2rem;
  }

  :global(.content pre) {
    font-size: 1.5rem;
  }

  .container {
    padding: 0;
    min-width: 90%;
  }

</style>
